
<div id="seatGrid">
<h3>
  Available Seats for 
  <strong> {{currentMov.name}} </strong> 
  on 
  <strong>{{showtime.date}}</strong>
   at 
  <strong>{{showtime.time}}</strong>
</h3>
<br>
<h4 class="screen">Screen</h4>
<mat-grid-list cols="6" rowHeight="1:1">
  <mat-grid-tile *ngFor="let seat of seatList, let i = index">
    <button 
    [ngClass]="seatSelection.includes(seat) ? 'testing' : '' "
    type="button" 
    (click)="seatSelectionToggle(seat)"
    [disabled] = "!seat.available"
    >{{seat.row}} - {{seat.seatNumber}}</button>
    
  </mat-grid-tile>
  
</mat-grid-list>
</div>
<br>
<br>


<div>
    <button (click)="toggleView('checkout')">Continue to Checkout</button>
</div>
