
<div id="seatGrid">
<h3>(insert movie title here) on {{showtime.date}} at {{showtime.time}}</h3>
<br>
<h4 class="screen">Screen</h4>
<mat-grid-list cols="6" rowHeight="1:1">
  <mat-grid-tile *ngFor="let seat of seatList">
    <button 

    
    [ngClass]="seat.available ? 'available': 'unavailable'" 
    type="button" 
    (click)="seatSelectionToggle(seat)"
    [disabled] = "!seat.available"
    >{{seat.row}} - {{seat.seatNumber}}</button>
    
  </mat-grid-tile>
  
</mat-grid-list>
</div>
<br>
<br>


<div *ngIf="seatSelection.length != 0" fixLayout="row">
  <h3>Current Selection: </h3>
  <ul *ngFor="let s of seatSelection">
    <li style="display:inline">{{s.row}} {{s.seatNumber}}</li>
  </ul>
</div>


<div>
    <button (click)="toggleView('checkout')">Continue to Checkout</button>
</div>
