.screen{
    border: black solid 2px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: auto;
    margin-bottom: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
}
#seatGrid {
    width: 50%;
    border: rgb(78, 69, 69) solid 2px;
    float: left;
    margin: 5%;
}
.mat-grid-list{
    margin-top: 10%;
    width: 90%;
    align-items: center;
    left: 5%;
    right: 5%;
    
}
.mat-grid-tile {
    color: rgb(7, 7, 7);
    background-color: white;
    
}

ul{
    display: inline;
}
button {
    padding: 10%;
    background-color: white;
    color: black;
}
button:disabled{
    background-color: rgb(250, 95, 95);
}
button:enabled{
    background-color: azure;
}
button:hover:enabled{
    background-color: rgb(127, 255, 155);
    margin-left: +20px;
.unavailable{
    color: black;
    font-style: italic;
    background-color: red;
}
.available{
    color: white;
    
    font-weight: bolder;
    background-color: green;
}