<div class="mainDiv">
<mat-card class="card">
    <mat-card-header>
        <mat-card-title>{{movieToShow.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <img class="img-float" src={{movieToShow.imageSrc}} >
        <h3>
        
        <span> Genre: </span> <br>{{movieToShow.genre}}
        <br><br><br>
        <span>Rating: </span> <br>{{movieToShow.rating}}
        <br><br><br>
        <span>Description: </span> <br>{{movieToShow.description}}
        </h3>
    </mat-card-content>
</mat-card>
</div>
<h2>The following showtimes are available:</h2>

<ul>
    <li class="showtimelink" *ngFor= "let sTime of correctShowtimes" (click)="toggleView('seatSelector', sTime)">{{sTime.time}} on {{sTime.date}}</li>
</ul>