<div class="mainDiv">

    
    <div class="card" style="width: 18rem;">
        <img class="card-img-top img-fluid w-100" src={{movieToShow.imageSrc}} alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{movieToShow.name}}</h5>

            <div class="row">
              <div class="col-sm">
                <span> Genre: </span>{{movieToShow.genre}}
              </div>
              <div class="col-sm">
                <span> Rating: </span>{{movieToShow.rating}}
              </div>
            </div>
            <div class="row">
                <div class="col-sm mt-3">
                    <span> Description: </span>{{movieToShow.description}}
                  </div>
            </div>
            
        </div>
        
      </div>
   
      <div class="row">
        <div class="col-sm mt-3">
          <h2>The following {{ correctShowtimes.length }} showtimes are available:</h2>
          <ul>
            <li class="showtimelink" *ngFor= "let sTime of correctShowtimes" (click)="toggleView('seatSelector', sTime)">{{sTime.time}} on {{sTime.date}}</li>
        </ul>
          </div>
    </div>
      





</div>
