
<div>
    <button (click)="tempMakeDatabase()">Make the Database thign happen. Cool</button>
</div>

<app-main-page *ngIf = "isCurrentView('mainPage')"></app-main-page>
<app-movie-search *ngIf = "isCurrentView('movieSearch')"></app-movie-search>
<app-movie-details *ngIf = "isCurrentView('movieDetails')"></app-movie-details>
<app-seat-selector *ngIf = "isCurrentView('seatSelector')" [showtime]="importantShowtime" ></app-seat-selector>
<app-checkout *ngIf="isCurrentView('checkout')"></app-checkout>
